flow1.json
[
    {
        "id": "33cd620b.ab751e",
        "type": "tab",
        "parameters": {
            "label": "Flow 1",
            "disabled": false,
            "info": ""
        },
        "is_user_parameter": {},
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f6d35dc.a5024c",
        "type": "tab",
        "parameters": {
            "label": "Flow 2",
            "disabled": false,
            "info": ""
        },
        "is_user_parameter": {},
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9329460e.1fc048",
        "type": "tab",
        "parameters": {
            "label": "Flow 3",
            "disabled": false,
            "info": ""
        },
        "is_user_parameter": {},
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b36345b.12c61c",
        "type": "door",
        "z": "33cd620b.ab751e",
        "parameters": {
            "door_ids": "[]",
            "door_state": "[]"
        },
        "is_user_parameter": {
            "iup_door_ids": true,
            "iup_door_state": false
        },
        "name": "Door",
        "door_ids": "[]",
        "iup_door_ids": true,
        "door_state": "[]",
        "iup_door_state": false,
        "x": 120,
        "y": 262,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "12898294.b0d68d",
        "type": "location",
        "z": "33cd620b.ab751e",
        "parameters": {
            "location": "rj123",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "rj123",
        "info": "",
        "x": 110,
        "y": 100,
        "wires": []
    },
    {
        "id": "c66d95f8.c91518",
        "type": "location",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "location": "rj123",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "rj123",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "46da926.299cf6c",
        "type": "location",
        "z": "9329460e.1fc048",
        "parameters": {
            "location": "rj123",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "rj123",
        "info": "",
        "x": 70,
        "y": 120,
        "wires": []
    },
    {
        "id": "db2dfb5.ee78508",
        "type": "elasticron",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "schedule": "",
            "payload": "{}",
            "props": "{}"
        },
        "is_user_parameter": {
            "iup_schedule": false,
            "iup_payload": false,
            "iup_props": false
        },
        "name": "Elasticron",
        "schedule": "",
        "iup_schedule": false,
        "payload": "{}",
        "iup_payload": false,
        "props": "{}",
        "iup_props": false,
        "x": 220,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3e411f60.ba1d",
        "type": "motion",
        "z": "9329460e.1fc048",
        "parameters": {
            "sensor_ids": "[]"
        },
        "is_user_parameter": {
            "iup_sensor_ids": false
        },
        "name": "Motion",
        "sensor_ids": "[]",
        "iup_sensor_ids": false,
        "x": 70,
        "y": 220,
        "wires": [
            [],
            []
        ]
    }
]