flow1.json
[
    {
        "id": "33cd620b.ab751e",
        "type": "tab",
        "parameters": {
            "label": "Flow 1",
            "disabled": false,
            "info": ""
        },
        "is_user_parameter": {},
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f6d35dc.a5024c",
        "type": "tab",
        "parameters": {
            "label": "Flow 2",
            "disabled": false,
            "info": ""
        },
        "is_user_parameter": {},
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9329460e.1fc048",
        "type": "tab",
        "parameters": {
            "label": "Flow 3",
            "disabled": false,
            "info": ""
        },
        "is_user_parameter": {},
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "527335e8.f0147c",
        "type": "ui_base",
        "parameters": {
            "theme": {
                "name": "theme-light",
                "lightTheme": {
                    "default": "#0094CE",
                    "baseColor": "#0094CE",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "edited": true,
                    "reset": false
                },
                "darkTheme": {
                    "default": "#097479",
                    "baseColor": "#097479",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "edited": false
                },
                "customTheme": {
                    "name": "Untitled Theme 1",
                    "default": "#4B7930",
                    "baseColor": "#4B7930",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                },
                "themeState": {
                    "base-color": {
                        "default": "#0094CE",
                        "value": "#0094CE",
                        "edited": false
                    },
                    "page-titlebar-backgroundColor": {
                        "value": "#0094CE",
                        "edited": false
                    },
                    "page-backgroundColor": {
                        "value": "#fafafa",
                        "edited": false
                    },
                    "page-sidebar-backgroundColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "group-textColor": {
                        "value": "#1bbfff",
                        "edited": false
                    },
                    "group-borderColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "group-backgroundColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "widget-textColor": {
                        "value": "#111111",
                        "edited": false
                    },
                    "widget-backgroundColor": {
                        "value": "#0094ce",
                        "edited": false
                    },
                    "widget-borderColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "base-font": {
                        "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                    }
                }
            },
            "site": {
                "name": "Node-RED Dashboard",
                "hideToolbar": "false",
                "allowSwipe": "false",
                "allowTempTheme": "true",
                "dateFormat": "DD/MM/YYYY",
                "sizes": {
                    "sx": 48,
                    "sy": 48,
                    "gx": 6,
                    "gy": 6,
                    "cx": 6,
                    "cy": 6,
                    "px": 0,
                    "py": 0
                }
            }
        },
        "is_user_parameter": {},
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bd8cf36.1a0641",
        "type": "ui_tab",
        "parameters": {
            "icon": "dashboard",
            "order": 1
        },
        "is_user_parameter": {},
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "80a3fae.9db8a08",
        "type": "ui_group",
        "parameters": {
            "tab": "bd8cf36.1a0641",
            "order": 1,
            "disp": true,
            "width": 6
        },
        "is_user_parameter": {},
        "name": "Group 1",
        "tab": "bd8cf36.1a0641",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "97231eac.01c0b",
        "type": "ui_link",
        "z": "",
        "parameters": {
            "link": "http://google.com",
            "icon": "open_in_browser",
            "target": "newtab",
            "order": 2
        },
        "is_user_parameter": {},
        "name": "Link 2",
        "link": "http://google.com",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 2
    },
    {
        "id": "1b36345b.12c61c",
        "type": "door",
        "z": "33cd620b.ab751e",
        "parameters": {
            "door_ids": "[]",
            "door_state": "[]"
        },
        "is_user_parameter": {
            "iup_door_ids": true,
            "iup_door_state": false
        },
        "name": "Door",
        "door_ids": "[]",
        "iup_door_ids": true,
        "door_state": "[]",
        "iup_door_state": false,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "f70045d1.d64a38:0"
            ],
            []
        ]
    },
    {
        "id": "12898294.b0d68d",
        "type": "location",
        "z": "33cd620b.ab751e",
        "parameters": {
            "location": "rj123",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "rj123",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "c66d95f8.c91518",
        "type": "location",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "location": "rj123",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "rj123",
        "info": "",
        "x": 90,
        "y": 200,
        "wires": []
    },
    {
        "id": "46da926.299cf6c",
        "type": "location",
        "z": "9329460e.1fc048",
        "parameters": {
            "location": "rj123",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "rj123",
        "info": "",
        "x": 70,
        "y": 120,
        "wires": []
    },
    {
        "id": "db2dfb5.ee78508",
        "type": "elasticron",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "schedule": "1",
            "payload": "",
            "props": "{}"
        },
        "is_user_parameter": {
            "iup_schedule": false,
            "iup_payload": false,
            "iup_props": false
        },
        "name": "Elasticron",
        "schedule": "1",
        "iup_schedule": false,
        "payload": "",
        "iup_payload": false,
        "props": "{}",
        "iup_props": false,
        "x": 120,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3e411f60.ba1d",
        "type": "motion",
        "z": "9329460e.1fc048",
        "parameters": {
            "sensor_ids": "[]"
        },
        "is_user_parameter": {
            "iup_sensor_ids": false
        },
        "name": "Motion",
        "sensor_ids": "[]",
        "iup_sensor_ids": false,
        "x": 70,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4daee376.eafd6c",
        "type": "function",
        "z": "33cd620b.ab751e",
        "parameters": {
            "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
            "outputs": 1,
            "noerr": 0
        },
        "is_user_parameter": {},
        "name": "cpu_util_gen",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "4b746580.bff1ec:0",
                "de4f6279.0c746:0"
            ]
        ]
    },
    {
        "id": "7881f9c2.4d55b8",
        "type": "ui_chart",
        "z": "33cd620b.ab751e",
        "parameters": {
            "group": "80a3fae.9db8a08",
            "order": 0,
            "width": 0,
            "height": 0,
            "label": "chart1",
            "chartType": "line",
            "legend": "false",
            "xformat": "HH:mm:ss",
            "interpolate": "linear",
            "nodata": "",
            "dot": false,
            "ymin": "",
            "ymax": "",
            "removeOlder": "5",
            "removeOlderPoints": "",
            "removeOlderUnit": "60",
            "cutout": 0,
            "useOneColor": false,
            "colors": [
                "#1f77b4",
                "#aec7e8",
                "#ff7f0e",
                "#2ca02c",
                "#98df8a",
                "#d62728",
                "#ff9896",
                "#9467bd",
                "#c5b0d5"
            ],
            "useOldStyle": false
        },
        "is_user_parameter": {},
        "name": "",
        "group": "80a3fae.9db8a08",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 410,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7e9c21f9.77846",
        "type": "door_open_event",
        "z": "33cd620b.ab751e",
        "parameters": {
            "topic": "",
            "payload": "{\"deviceId\":\"ic_111.0\",\"id\":\"175632.1519236108\",\"meta\":{\"friendlyName\":\"Door 1\",\"id\":\"ic_111.0\",\"iot:capabilities\":[\"contactSensor\"]},\"metadata\":{\"deviceType\":\"zoneDoor\",\"deviceid\":\"ic_111.0\",\"eventType\":\"\",\"group\":\"xh\",\"instanceName\":\"Door 1\",\"manufacturer\":\"xh\",\"name\":\"xh\",\"siteid\":\"175632\",\"timestamp\":1519251394062},\"properties\":{\"contactSensor.attachedTo\":\"door\",\"contactSensor.state\":\"open\",\"state\":\"true\"},\"siteid\":\"175632\",\"ts\":1519251394062}",
            "payloadType": "json",
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1
        },
        "is_user_parameter": {},
        "name": "door_open_event",
        "topic": "",
        "payload": "{\"deviceId\":\"ic_111.0\",\"id\":\"175632.1519236108\",\"meta\":{\"friendlyName\":\"Door 1\",\"id\":\"ic_111.0\",\"iot:capabilities\":[\"contactSensor\"]},\"metadata\":{\"deviceType\":\"zoneDoor\",\"deviceid\":\"ic_111.0\",\"eventType\":\"\",\"group\":\"xh\",\"instanceName\":\"Door 1\",\"manufacturer\":\"xh\",\"name\":\"xh\",\"siteid\":\"175632\",\"timestamp\":1519251394062},\"properties\":{\"contactSensor.attachedTo\":\"door\",\"contactSensor.state\":\"open\",\"state\":\"true\"},\"siteid\":\"175632\",\"ts\":1519251394062}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 380,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4b746580.bff1ec",
        "type": "debug",
        "z": "33cd620b.ab751e",
        "parameters": {
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false"
        },
        "is_user_parameter": {},
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "a3f8e6b4.129438",
        "type": "debugfn",
        "z": "33cd620b.ab751e",
        "parameters": {},
        "is_user_parameter": {},
        "name": "Debug",
        "x": 490,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f70045d1.d64a38",
        "type": "light",
        "z": "33cd620b.ab751e",
        "parameters": {
            "light_ids": "[]",
            "light_state": "on",
            "dim_level": ""
        },
        "is_user_parameter": {
            "iup_light_ids": false,
            "iup_light_state": false,
            "iup_dim_level": false
        },
        "name": "Light",
        "light_ids": "[]",
        "iup_light_ids": false,
        "light_state": "on",
        "iup_light_state": false,
        "dim_level": "",
        "iup_dim_level": false,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "a3f8e6b4.129438:0"
            ],
            []
        ]
    },
    {
        "id": "9fdb742e.a48f78",
        "type": "debug",
        "z": "33cd620b.ab751e",
        "parameters": {
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false"
        },
        "is_user_parameter": {},
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0394f6b.5fdc",
        "type": "inject",
        "z": "33cd620b.ab751e",
        "parameters": {
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1
        },
        "is_user_parameter": {},
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "9fdb742e.a48f78:0",
                "4daee376.eafd6c:0"
            ]
        ]
    },
    {
        "id": "5250451.3ea6dbc",
        "type": "inject",
        "z": "33cd620b.ab751e",
        "parameters": {
            "topic": "",
            "payload": "",
            "payloadType": "date",
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1
        },
        "is_user_parameter": {},
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "7881f9c2.4d55b8:0",
                "b402e374.89ed7:0"
            ]
        ]
    },
    {
        "id": "b402e374.89ed7",
        "type": "debug",
        "z": "33cd620b.ab751e",
        "parameters": {
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false"
        },
        "is_user_parameter": {},
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "de4f6279.0c746",
        "type": "ui_chart",
        "z": "33cd620b.ab751e",
        "parameters": {
            "group": "80a3fae.9db8a08",
            "order": 0,
            "width": 0,
            "height": 0,
            "label": "chart2",
            "chartType": "line",
            "legend": "false",
            "xformat": "HH:mm:ss",
            "interpolate": "linear",
            "nodata": "",
            "dot": false,
            "ymin": "",
            "ymax": "",
            "removeOlder": 1,
            "removeOlderPoints": "",
            "removeOlderUnit": "3600",
            "cutout": 0,
            "useOneColor": false,
            "colors": [
                "#1f77b4",
                "#aec7e8",
                "#ff7f0e",
                "#2ca02c",
                "#98df8a",
                "#d62728",
                "#ff9896",
                "#9467bd",
                "#c5b0d5"
            ],
            "useOldStyle": false
        },
        "is_user_parameter": {},
        "name": "",
        "group": "80a3fae.9db8a08",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 550,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "77c35fb8.2e06e",
        "type": "location",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "location": "131332221021092015Comcast.RTVE",
            "info": ""
        },
        "is_user_parameter": {},
        "name": "Location",
        "location": "131332221021092015Comcast.RTVE",
        "info": "",
        "x": 150,
        "y": 360,
        "wires": []
    },
    {
        "id": "f711b5a.2e87348",
        "type": "door",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "door_ids": "[]",
            "door_state": "[\"open\"]"
        },
        "is_user_parameter": {},
        "name": "DoorOpen",
        "door_ids": "[]",
        "door_state": "[\"open\"]",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "82d75bea.085ce8:0"
            ],
            []
        ]
    },
    {
        "id": "82d75bea.085ce8",
        "type": "light",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "light_ids": "[]",
            "light_state": "on",
            "dim_level": "5"
        },
        "is_user_parameter": {},
        "name": "LightOn",
        "light_ids": "[]",
        "light_state": "on",
        "dim_level": "5",
        "x": 620,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bbf7e76c.914178",
        "type": "light",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "light_ids": "[]",
            "light_state": "off",
            "dim_level": "0"
        },
        "is_user_parameter": {},
        "name": "LightOff",
        "light_ids": "[]",
        "light_state": "off",
        "dim_level": "0",
        "x": 670,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9b600a47.817ac8",
        "type": "door",
        "z": "7f6d35dc.a5024c",
        "parameters": {
            "door_ids": "[]",
            "door_state": "[\"closed\"]"
        },
        "is_user_parameter": {},
        "name": "DoorClosed",
        "door_ids": "[]",
        "door_state": "[\"closed\"]",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "bbf7e76c.914178:0"
            ],
            []
        ]
    }
]